<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css" />
        <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <div id="openmenu">
            <div id="menu">
                  <q-splitter v-model="splitterModel" style="height: 50vh;">
                    <template v-slot:before>
                      <q-tabs v-model="tab" active-bg-color="active-tab" inline-label indicator-color="transparent" vertical class="text-hud bg-panel">
                        <q-tab name="hud" icon="view_list" label="HUD" style="height: 5.5vh; padding-left: 1vh; justify-content: end;"></q-tab>
                        <!-- <q-tab name="phone" icon="phone_iphone" label="PHONE" style="height: 5.5vh; padding-left: 1vh; justify-content: end;"></q-tab> -->
                      </q-tabs>
                    </template>
              
                    <template v-slot:after>
                    <q-tab-panels v-model="tab" dark animated swipeable vertical transition-prev="jump-up" transition-next="jump-up" class="bg-active-tab text-hud">
                        <q-tab-panel name="hud">
                            <div class="q-mb-md">
                            <div class="text-h6 q-mb-md">Reset Hud <img class="brand-logo" align="right" src="./brand-logo.svg"></img></div>
                            <div class="q-pa-md q-gutter-sm">
                                <q-btn :loading="progress[0].loading" :percentage="progress[0].percentage" text-color="black" color="hud" @click="startComputing(0)" class="ResetHud" style="width: 150px">
                                    Reset Hud
                                <template v-slot:loading>
                                <q-spinner-gears class="on-left"></q-spinner-gears>
                                    Resetting...
                                </template>
                                </q-btn>
                            <div class="text-caption q-mb-md">If your hud is acting up, give it a good ol' reset! Or you can do /resethud</div>
                        </div>
                        <hr>
                        <div class="text-h6 q-mb-md">Options</div>
                        <div class="text-check">
                            <q-item borderless dark tag="label" v-ripple>
                                <q-item-section avatar>
                                <q-checkbox class="OutsideMap" dark v-model="outsidemap" color="orange-3" val="18"></q-checkbox>
                            </q-item-section>
                            <q-item-section>
                                <q-item-label class="text-check">Show Minimap Only in Vehicle</q-item-label>
                                <q-item-label caption>Disabling this will always keep your minimap on your screen</q-item-label>
                            </q-item-section>
                            </q-item>
                            <q-checkbox dark class="ShowBrand" label='Show Logo Enabled' v-model="logo" color="orange-3" val="1" style="display: flex;"></q-checkbox>
                        </div>
                        <hr>
                        <div class="text-h6 q-mb-md">Notifications</div>
                            <div class="text-check">
                                <q-checkbox dark class="MenuSound" label='Menu Open Sound Effect Enabled' v-model="openMenuSounds" color="orange-3" val="2" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="ResetSound" label='Reset Hud Sound Effect Enabled' v-model="resetHudSounds" color="orange-3" val="3" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="CheckListSound" label='GUI Sound Effects Enabled' v-model="checklistSounds" color="orange-3" val="4" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="MapNotif" label='Map Notifications Enabled' v-model="mapNotif" color="orange-3" val="5" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="LowFuel" label='Low Fuel Alert Enabled' v-model="lowFuel" color="orange-3" val="6" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="CinematicNotif" label='Cinematic Mode Notifications Enabled' v-model="cinematicNotif" color="orange-3" val="7" style="display: flex;"></q-checkbox>
                            </div>
                        </div>                        
                        <hr>
                        <div class="text-h6 q-mb-md">Status</div>
                            <div class="text-check">
                                <q-checkbox dark class="Health" label='Show Health always' v-model="selection" color="orange-3" val="8" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Armor" label='Show Armor always' v-model="selection" color="orange-3" val="9" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Hunger" label='Show Hunger always' v-model="selection" color="orange-3" val="10" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Thirst" label='Show Thirst always' v-model="selection" color="orange-3" val="11" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Stress" label='Show Stress always' v-model="selection" color="orange-3" val="12" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Oxygen" label='Show Oxygen always' v-model="selection" color="orange-3" val="13" style="display: flex;"></q-checkbox>
                            </div>
                        </div>
                        <hr>
                        <div class="text-h6 q-mb-md">Vehicle</div>
                            <div class="text-check">
                                <q-toggle class="FpsChange" dark size="lg" icon-color="black" color="orange-3" :label="`Speedometer FPS ${changefps}`" unchecked-icon="60fps" false-value="Synced" true-value="Optimized" checked-icon="30fps" v-model="changefps"></q-toggle>
                                <div class="text-caption q-mb-md-d">Synced FPS option will result in less optimization, but keep your speedometer in real time, however, it will also be more demanding on your machine.</div>
                                <q-toggle class="MapShape" dark size="lg" icon-color="black" color="orange-3" :label="`Minimap ${changemap}`" unchecked-icon="check_box_outline_blank" false-value="Square" true-value="Circle" checked-icon="radio_button_unchecked" v-model="changemap"></q-toggle>
                                <div class="text-caption q-mb-md-d">Whether it's square or circle you desire, you have the ability to choose!</div>
                                <q-checkbox dark class="HideMap" label='Minimap Enabled' v-model="map" color="orange-3" val="14" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="MapBorders" label='Minimap Borders Enabled' v-model="mapBorders" color="orange-3" val="15" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Engine" label='Show Engine always' v-model="selection" color="orange-3" val="16" style="display: flex;"></q-checkbox>
                                <q-checkbox dark class="Nitro" label='Show Nitro always' v-model="selection" color="orange-3" val="17" style="display: flex;"></q-checkbox>
                            </div>
                        <hr>
                        <div class="text-h6 q-mb-md">Compass</div>
                            <div class="text-check">
                                <q-item borderless dark tag="label" v-ripple>
                                    <q-item-section avatar>
                                    <q-checkbox class="HideCompass"  dark v-model="compass" color="orange-3" val="18"></q-checkbox>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label class="text-check">Compass Enabled</q-item-label>
                                    <q-item-label caption>Disabling the compass enitrely can vastly improve performace</q-item-label>
                                </q-item-section>
                            </q-item>
                                <q-item borderless dark tag="label" v-ripple>
                                <q-item-section avatar>
                                    <q-checkbox class="HideStreets" dark v-model="streets" color="orange-3" val="19"></q-checkbox>
                                </q-item-section>
                                <q-item-section>
                                    <q-item-label class="text-check">Show Street Names Enabled</q-item-label>
                                    <q-item-label caption>Disabling this can help improve performace</q-item-label>
                                </q-item-section>
                            </q-item>
                        </div>
                        <hr>
                        <div class="text-h6 q-mb-md">Cinematic Mode</div>
                            <div class="text-check">
                                <q-checkbox class="Cinematic" dark label='Enabled' v-model="selection" color="orange-3" val="20" style="display: flex;"></q-checkbox>
                            </div>
                        <br>
<!--                         <div class="q-gutter-y-md column" style="max-width: 300px">
                            <q-input dark dense color="custom" v-model="text" label="Percentage of screen">
                                <template v-slot:prepend>
                                    <q-icon name="drag_handle"></q-icon>
                                </template>
                            </q-input>
                        </div>
                        <br>
                        <hr>
                        <div class="text-h6 q-mb-md">Crosshair (D: cheater)</div>
                            <div class="text-check">
                                <q-checkbox dark class="hideReticle" label='Enabled' v-model="selection" color="orange-3" val="18" style="display: flex;"></q-checkbox>
                            </div>
                        <br> -->
                        </q-tab-panel>
              
                        <!-- <q-tab-panel name="phone">
                            <div class="q-mb-md">
                                <div class="text-h6 q-mb-md">Coming Soon... <img class="brand-logo" align="right" src="./brand-logo.svg"></img></div>
                                <div class="q-pa-md q-gutter-sm">
                                <div class="text-body1 q-mb-md">Join my Discord laboratory for updates, support, and special early testing!
                                <br>
                                https://discord.gg/loljoshie (without-vanity url: https://discord.gg/HH6uTcBfew)</div>
                            </div>       
                            </div>
                        </q-tab-panel> -->
                      </q-tab-panels>
                    </template>
                  </q-splitter>
                </div>
    </div>
</body>
</html>
