@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.text-hud { color: #fff!important; }
.bg-hud { background: #70f145!important; }
.text-phone { color: #0c0a2a!important; }
.bg-phone { background: #02f1b5!important; }
.text-check { color: rgba(255, 255, 255, 0.8)!important; }
.bg-active-tab { background: #232833!important; }
.q-checkbox__svg { color: #000!important; }
.bg-active-check { color: #f7a863!important; }
.bg-panel { background: #31465e!important; }
.q-toggle__inner { margin-left: -0.5vh!important; }
.q-panel>div { margin-bottom: 18%!important; }
.q-field__control { margin-left: 2.5%!important; }
.q-mb-md { margin-bottom: 0px!important; }
.q-mb-md-d { padding-left: 10px!important; padding-bottom: 10px!important;}
.q-item__section--side { padding-right: 0px!important; }
.q-item { padding: 8px 0px!important; }
.q-splitter--vertical>.q-splitter__separator { width: 0px!important; }
.q-item__section--avatar { min-width: 40px!important }
div#q-loading-bar { display: none!important; }
::-webkit-scrollbar { display: none!important; }

div#openmenu {
  display: none;
  position: absolute;
  width: 50%;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.brand-logo {
  width: 25%; 
}
